In [1]:
import pandas as pd

In [33]:
df = pd.read_csv(r"C:\Users\mikej\Desktop\cpg-sales\data\all_sales_data.csv")

all_sales = df.copy()

# invoice date cleanup
all_sales['Invoice Date'] = pd.to_datetime(all_sales['Invoice Date'])
all_sales['Invoice Date'] = all_sales['Invoice Date'].dt.normalize()
all_sales['Invoice Date'] = all_sales['Invoice Date'].dt.floor('D')
all_sales.sort_values(by='Dollars',ascending=False,inplace=True)

In [40]:
all_sales

,Customer,Invoice Date,Item Full Description,Market Segment,Parent Customer,Sale Origin,Vistar Retail,Dollars,Dollars Formatted,Sales by Parent,Customer Order Number,Suffix
Invoice Date,,,,,,,,,,,,
2023-02-27,Vistar Carolina,2023-02-27,CAFFEINATED CHOCOLATE BITES SINGLES CARAMEL,Vending,Vistar,Dot,No,35250.0,35.250,4.559364e+06,8320060,K
2023-10-02,Vistar Kansas City,2023-10-02,AWAKE NO SUGAR ADDED 6 X 50CT BITES CHANGEMAKE...,Vending,Vistar,Dot,No,29610.0,29.610,4.559364e+06,5798668,K
2023-09-29,Vistar Georgia,2023-09-29,CAFFEINATED CHOCOLATE BITES SINGLES CARAMEL,Vending,Vistar,Dot,No,22842.0,22.842,4.559364e+06,5475278,K
2023-04-07,Vistar Georgia,2023-04-07,CAFFEINATED CHOCOLATE BITES SINGLES CARAMEL,Vending,Vistar,Dot,No,22560.0,22.560,4.559364e+06,9295470,K
2023-04-11,Vistar Retail Central,2023-04-11,CAFFEINATED CHOCOLATE BITES SINGLES,Alternate Retail,Vistar Retail,Dot,Yes,22560.0,22.560,2.066861e+06,8973429,K
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-20,Vistar Northern California,2023-12-20,CAFFEINATED CHOCOLATE BITES SINGLES PB CHOC,Vending,Vistar,Dot,No,-5499.0,-5499.000,4.559364e+06,8844877,NaN
2023-01-20,Vistar Georgia,2023-01-20,CAFFEINATED CHOCOLATE BITES SINGLES CARAMEL,Vending,Vistar,Dot,No,-5640.0,-5640.000,4.559364e+06,7337343,NaN
2023-12-20,Vistar Northern California,2023-12-20,AWAKE CHOCOLATE AWAKE CAFF MILK CHOC- 6X12PK M...,Vending,Vistar,Dot,No,-6843.2,-6843.200,4.559364e+06,8844881,NaN
2023-03-27,Vistar Georgia,2023-03-27,CAFFEINATED CHOCOLATE BITES SINGLES CARAMEL,Vending,Vistar,Dot,No,-16920.0,-16920.000,4.559364e+06,9235485,NaN
2023-02-20,Vistar Georgia,2023-02-20,CAFFEINATED CHOCOLATE BITES SINGLES CARAMEL,Vending,Vistar,Dot,No,-16920.0,-16920.000,4.559364e+06,8247331,NaN

In [60]:
all_sales.index = pd.to_datetime(all_sales['Invoice Date'],format = '%m/%d/%y %I:%M%p')
mth_sales = all_sales.groupby(pd.Grouper(key='Invoice Date',freq='M'))[['Dollars','Dollars Formatted']].sum()

mth_sales['Dollars'] = mth_sales['Dollars'].astype('int')
mth_sales['Dollars Formatted'] = mth_sales['Dollars Formatted'].astype('int')

mth_sales.index.month

Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
       11, 12, 1],
      dtype='int32', name='Invoice Date')

In [10]:
all_sales.index = pd.to_datetime(all_sales['Invoice Date'],format = '%m/%d/%y %I:%M%p')

In [12]:
df_selection = all_sales.copy()

In [16]:
df_selection.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 90270 entries, 2023-02-27 to 2023-02-20
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer               90270 non-null  object
 1   Invoice Date           90270 non-null  datetime64[ns]
 2   Item Full Description  90270 non-null  object
 3   Market Segment         90270 non-null  object
 4   Parent Customer        90270 non-null  object
 5   Sale Origin            90270 non-null  object
 6   Vistar Retail          90270 non-null  object
 7   Dollars                90270 non-null  float64
 8   Dollars Formatted      90270 non-null  float64
 9   Sales by Parent        90270 non-null  float64
 10  Customer Order Number  90270 non-null  object
 11  Suffix                 4168 non-null   object
 12  month_                 90270 non-null  object
 13  year_                  90270 non-null  object
dtypes: datetime64[ns](1), float64(3), object(10)
memory usage: 10.3+ MB

In [42]:
all_sales['month_'] = all_sales['Invoice Date'].dt.strftime('%b')
all_sales['year_'] = all_sales['Invoice Date'].dt.strftime('%Y')
mth_sales = all_sales.groupby(["month_", "year_"],as_index=False)[['Dollars','Dollars Formatted']].sum().sort_values(by=['year_','month_'], ascending=False)

In [43]:
mth_sales

   month_ year_       Dollars  Dollars Formatted
10    Jan  2024  2.045617e+05       56565.394430
24    Sep  2023  8.877561e+05      335240.765858
22    Oct  2023  1.085889e+06      387519.636773
20    Nov  2023  8.058714e+05      304416.382007
18    May  2023  6.469093e+05      307951.626947
16    Mar  2023  9.198210e+05      354222.482155
14    Jun  2023  7.401331e+05      323485.684528
12    Jul  2023  7.538323e+05      341773.701030
9     Jan  2023  6.520111e+05      274573.837542
7     Feb  2023  7.886544e+05      274735.078793
5     Dec  2023  5.947969e+05      254783.481235
3     Aug  2023  8.230770e+05      328892.793915
1     Apr  2023  8.198636e+05      318166.659107
23    Sep  2022  8.453312e+05      365589.117313
21    Oct  2022  8.250726e+05      366371.867848
19    Nov  2022  6.970589e+05      304280.613912
17    May  2022  5.829944e+05      191205.476150
15    Mar  2022  5.726614e+05      274468.778642
13    Jun  2022  5.867764e+05      231064.844956
11    Jul  2022  4.664244e+05      224341.227987
8     Jan  2022  3.796312e+05      161255.526742
6     Feb  2022  5.170025e+05      232765.134423
4     Dec  2022  5.808072e+05      269162.339292
2     Aug  2022  6.612007e+05      312888.440920
0     Apr  2022  7.473783e+05      287127.439120